/* Write your global styles here, in PostCSS syntax */
@import '@fontsource/fira-mono';
@import 'tailwindcss';

@plugin "daisyui" {
  themes: missy --default, missy --prefersdark;
}

@plugin "daisyui/theme" {
  name: "missy";
  default: true;
  --color-primary: #88428c;
  --color-secondary: #cbb1fa;
  --color-accent: #1fb2a6;
  --color-neutral: #2a323c;
  --color-base-100: #1d232a;
  --color-info: #3abff8;
  --color-success: #36d399;
  --color-warning: #fbbd23;
}

/* Load Cochin font from static folder */
@font-face {
  font-family: 'Cochin';
  src: url('/fonts/Cochin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Load Obviously font from static folder */
@font-face {
  font-family: 'Obviously';
  src: url('/fonts/obviously.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Load Algiers font from static folder */
@font-face {
  font-family: 'Algiers';
  src: url('/fonts/Algiers.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
	--missy-body-font: 'Obviously', 'Roboto Condensed', 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--missy-cochin: 'Cochin', serif;
	--missy-obviously: 'Obviously', sans-serif;
	--missy-algiers: 'Algiers', serif;
	--missy-white-100: rgb(241 245 249);
  --missy-purple-300: #C8B3F6;
	--missy-purple-400: #7B5CFA;
	--missy-purple-500: rgb(79, 36, 73);
  --missy-pink: rgb(236 72 153);
}

h1, h2, h3, h4, h5, h6, .missy-header {
  font-family: var(--missy-cochin);
  font-weight: 600;
}

p, label {
  font-family: var(--missy-obviously);
}

html {
	scroll-behavior: smooth;
	font-family: var(--missy-obviously);
}

a { 
  color: var(--missy-purple-300);
}
a:hover {
  color: var(--missy-purple-300);
  border-bottom: 1px solid var(--missy-purple-300);
}

@media (max-width: 768px) {
  .grecaptcha-badge { 
    /* visibility: hidden; */
    bottom: 4.5rem !important;
  }
}
